.overlay_alphacube {
	background-color: #F3FCFF;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.alphacube_nw {
   background-color: #f2f2f2;	
  width:10px;
  border-top:1px solid #d5d5d5;
  border-left:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;
  height:22px;  
}

.alphacube_n {
  background-color: #f2f2f2;
  border-top:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;
  height:22px;
}

.alphacube_ne {
  background-color: #f2f2f2;		
  width:10px;	  
  border-top:1px solid #d5d5d5;
  border-right:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;
  height:22px;
}

.alphacube_w {
  background: transparent url(alphacube/frame-left.gif) repeat-y top left;			
  width:7px;
}

.alphacube_e {
  background: transparent url(alphacube/frame-right.gif) repeat-y top right;			
  width:7px;	  
}

.alphacube_sw {
  background: transparent url(alphacube/bottom-left-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.alphacube_s {
  background: transparent url(alphacube/bottom-middle.gif) repeat-x 0 0;			
  height:7px;
}

.alphacube_se, .alphacube_sizer  {
  background: transparent url(alphacube/bottom-right-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.alphacube_sizer {
	cursor:se-resize;	
}

.alphacube_close {
	width: 23px;
	height: 20px;
	background: transparent url(alphacube/button-close-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:1px;
	right:2px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(alphacube/button-min-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(alphacube/button-max-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_title {
	font-family:verdana,arial;
    font-size:12px;	
	float:left;
	height:14px;	
	text-align:left;
	font-weight:bold;
	margin-top:-2px;
	width:100%;
	color:#2f2f2f;    
}

.alphacube_content {
	overflow: visible;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
    font: 12px arial;
	background:#FDFDFD;
	padding:5px;
}

/* For alert/confirm dialog */
.alphacube_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.alphacube_message {
  font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.alphacube_buttons {
	text-align:center;
	width:100%;
}

.alphacube_buttons input {
	width:20%;
	margin:10px;
}

.alphacube_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}

.alphacube_wired_frame {
	background: #FFF;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}


