.seoTxt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.bot {
    width: 100%;
}

.block {
    background: none;
}

.block a {
    display: block;
    height: 100%;
}
.block a span {
    font-size: 17px;
    line-height: 34px;
}

.phone-wrapp {
    text-align: right;
}

.phone-wrapp a {
    font: bold 25px Arial !important;
    text-decoration: none;
}

.poisk input#inp1 {
    height: 18px;
    top: 4px;
}

.cart a {
    text-decoration: none;
}

.mainnews {
    margin-bottom: 20px;
}

.mainnews .wTxt {
    padding-right: 15px;
}

.mainnewsnazv a {
    font: 100 25px Arial;
    color: #000;
    margin: 0 0 15px 0;
    text-decoration: none;
}
.mainnewsnazv a {
    text-decoration: underline;
}

.mainnew-readmore,
.mainnew-readmore a {
    font: 100 18px Arial;
    color: black;
}

.breadcrumbs > span,
.breadcrumbs > span a {
    display: inline-block;
    vertical-align: top;
    font: 12px Arial;
    line-height: 30px;
    margin-right: 3px;
    color: #000000;
}

.breadcrumbs > span > a {
    text-decoration: underline;
}

.breadcrumbs > span:before {
    content: '>';
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
    font-size: 12px;
}

.breadcrumbs > span:first-child:before {
    display: none;
}

.zag {
    margin-bottom: 5px;
}

.news {
    margin-bottom: 10px;
}

.news .flr {
    width: 77%;
}
.news .name_news {
    font-size: 18px;
    margin-bottom: 5px;
}
.news .slide_but {
    float: right;
}

.new .news_img {
    float: left;
    margin: 0 10px 10px 0;
}
.back_to_news {
    font-size: 18px;
}

.topmen li a {
    margin-right: 39px;
}
.topmen li:last-child a {
    margin-right: 0;
}

.contact_block .fll {
    padding: 10px 20px 20px 20px;
    border: dashed 1px #b6b6b6;
    background: #FFF;
}

/*********  Form *********/
.wFormRow {
    margin: 5px 0;
}
.wFormRow input {
    margin: 0 10px 0 0;
    background: url(../../pic/kont1.jpg) no-repeat;
    width: 265px;
    height: 27px;
    font: 100 11px Arial;
    border: none;
    padding: 0 5px 0 5px;
    color: #6e6e6e;
}

.wFormRow textarea {
    color: #6e6e6e;
    margin: 0 10px 0 0;
    background: url(../../pic/kont2.jpg) no-repeat;
    width: 265px;
    height: 83px;
    font: 100 12px Arial;
    border: none;
    padding: 5px;
    resize: none;
    overflow: hidden;
}
.wFormRow > label+label {
    display: block;
    font-size: 12px;
    color: #F78C3F;
}

.btn {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #f5f5f5;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #dedede;
    text-decoration: none;
}

.leftmen .leftmen2 a {
    text-transform: uppercase;
}

.leftmen td {
    vertical-align: middle;
}

.leftmen .leftmen1 {
    padding-right: 5px;
}

/*******  catalog  ******/
ul.cat_ul > li {
    display: inline-block;
    margin: 0 30px 15px 0;
}
ul.cat_ul > li:nth-child(3n+3) {
    margin-right: 0;
}

ul.cat_ul {
    vertical-align: top;
    text-align: center;
}
.cat_ul li a {
    font-size: 18px;
    color: #000;
}

/*****  product   *******/
.list-item a.img_tovar{
    display: inline-block;
}
.list-item a.tovar_name {
    font: bold 14px Arial;
    color: #000;
    display: block;
    margin: 0 0 2px 0;
    text-decoration: none;
}
.list-item a.tovar_name:hover {
    color: #3163ad;
}
.list-item p.short-desc {
    color: #6e6e6e;
    font: 100 12px Arial;
}
.list-item .old-price {
    text-decoration: line-through;
    color: #e65f4e;
    font: italic 30px Georgia;
}
.list-item .tovar_price span {
    font: italic 30px Georgia;
    color: #3163ad;
}
.list-item {
    display: inline-block;
    margin: 0 30px 15px 0;
    width: 196px;
}
.list-item:nth-child(3n+3) {
    margin-right: 0;
}
ul.product-list {
    text-align: center;
    vertical-align: top;
}
.bye {
    display: inline-block;
}

/*******  pager  ********/
.pagination {
    text-align: center;
}
.pagination a {
    display: inline-block;
    padding: 5px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    background-color: #E8E8E8;
    border-radius: 2px;
    margin: 0 2px;
}

.pagination a:hover,
.pagination a.active_pag {
    text-decoration: underline;
    background-color: #D4D4D4;
}

/*******  Sitemap  *******/
ul.sitemap ul,
ul.sitemap ul > ul {
    margin-left: 10px;
}
ul.sitemap li {
    margin: 4px 0;
    list-style-type: none;
}
ul.sitemap a {
    font-size: 14px;
    text-decoration: none;
}
ul.sitemap a:hover {
    text-decoration: underline;
}

/*******  footer  *******/

.wezom a {
    display: inline-block;
    font: 12px/18px Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 0 0 45px;
    text-decoration: none;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    transition: 0.1s linear;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAKCAYAAACngj4SAAABEUlEQVQ4y43T30oCURAG8H2YkEi0cmkTKwxLUyQE0QtfrQfoNXqIopuuzJYk1/9m2Y19A7MwDLNn9+J3c/Y7Z/YMc7ynx4cBTOEFjsFL0YQQhnCTIe/DK0ygRwsR7NkXFByb7+BX5L+h5sifwkzkR7T4JhbiokfG5lsusFdo7crIF/lWMvtMHy6Ngz4hJzZXE4rFVlAR+Tz/uMws4TwO1IwDR3AAF7BR38bGgQsI4JC/6y7QxTzZggb8qOAHH6RbTjc44WHTRUOj2HVcR/e9BTtH6yI1yb7xQ9IW6rKGNVn3CUXnUDLyQULRHT8hL60g6cKfatWZY/xpYNaqWNvKuh5sn8f6HcoZHniVs7Snk5T7B7R+uUyYzswtAAAAAElFTkSuQmCC) no-repeat 0 50%;
}