
.ss_alx_SelectDiv {
                cursor:default;
                position:relative;
                padding:0px;
                }
                
.ss_alx_OptionsDiv {
                -moz-user-select:none;
                cursor:default;
                position:absolute;
                left:0px;top:22px;
                width:90%;
                max-width:90%;
                text-align:left;
                background:white url('bottom.png') no-repeat bottom right;
                background-attachment:expression('fixed');
                padding:0px;
                padding-bottom:9px;
                margin-left:8px;
                margin-right:10px;
                border-left:1px solid #CCCCCC;
                border-top:1px solid #CCCCCC;
                opacity:0.95;
                filter:Alpha(Opacity=95);
                }
                
                
.ss_alx_Title {
                cursor:default;
                display:inline;
                height:22px;
                font-size:10px;
                font-family:Verdana;
                color:#999999;
                background:#FBFBFB url('title_ou.png') no-repeat left top;
                border:0px;
                padding-left:8px;
                padding-top:3px;
                white-space:nowrap;
                }
                
.ss_alx_Button {
                cursor:default;
                display:inline;
                height:22px;
                width:16px;
                font-size:10px;
                font-family:Verdana;
                color:#999999;
                background:#FBFBFB url('darr_ou.png') no-repeat left top;
                border:0px;
                padding-top:3px;
                white-space:nowrap;
                }
                
.ss_alx_Option_Free_Out {
                display:block;
                overflow:hidden;
                font-size:10px;
                font-family:Verdana;
                color:#999999;
                cursor:default;
                line-height:16px;
                padding-left:4px;
                border-right:1px solid #CCCCCC;
                }
                
.ss_alx_Option_Free_Over {
                display:block;
                overflow:hidden;
                font-size:10px;
                font-family:Verdana;
                color:#999999;
                cursor:default;
                line-height:16px;
                padding-left:4px;
                border-right:1px solid #CCCCCC;
                background:#FFEED5;
                }
                
.ss_alx_Option_Sel_Out {
                display:block;
                overflow:hidden;
                font-size:10px;
                font-family:Verdana;
                color:#999999;
                font-style:italic;
                cursor:default;
                line-height:16px;
                padding-left:18px;
                border-right:1px solid #CCCCCC;
                background:url('rarr.gif') no-repeat left center;
                }
                
.ss_alx_Option_Sel_Over {
                display:block;
                overflow:hidden;
                font-size:10px;
                font-family:Verdana;
                color:#999999;
                font-style:italic;
                cursor:default;
                line-height:16px;
                padding-left:18px;
                border-right:1px solid #CCCCCC;
                background:#FFEED5 url('rarr.gif') no-repeat left center;
}
